html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background: rgba(42, 42, 42, 0.12);
}

.experiments-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.experiment {
    width: 200px;
    height: 250px;
    margin: 20px;

    border: 1px solid black;
    display: flex;
    position: relative;
    overflow: hidden;
}

a {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    text-decoration: none;
}

img {
    width: 200px;
    height: 200px;
}

.experiment_name {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.beta {
    position: absolute;
    bottom: -20px;
    left: -40px;
    transform: rotate(45deg);
    background: red;
    color: white;
    padding: 0 30px 35px;
    pointer-events: none;
}
