body {
    --main-color: #ffcd53;
    --secondary-color: #2a2a2a;
    --star-color: var(--main-color);
    --galaxy-color: var(--secondary-color);
}

.range_number {
    bottom: 100px;
}

@media (max-width: 500px) {
    .range_number {
        bottom: 80px;
    }
}
