body {
    --main-color: #ff417e;
    --wave-color: var(--main-color);
}

canvas {
    background: black;
}

#audio {
    top: 0;
    position: absolute;
    left: 0;
    margin: 50px 15%;
    width: 70%;
    display: block;
    z-index: 1000;
}

label {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#file-input {
    position: absolute;
    visibility: hidden;
}

@media (max-width: 500px) {
    #audio {
        margin: 50px 5%;
        width: 90%;
    }
}
