html, body, canvas {
    margin: 0;
    width: 100%;
    height: 100%;
    background: black;
}

body {
    --wave-color: #ff417e;
    --main-font-size: 24px;
}

#audio {
    top: 0;
    position: absolute;
    left: 0;
    margin: 50px 15%;
    width: 70%;
    display: block;
    z-index: 1000;
}

label {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#file-input {
    position: absolute;
    visibility: hidden;
}

.hidden {
    visibility: hidden;
}

.hint {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--wave-color);
    font-size: var(--main-font-size);
}

@media (max-width: 500px) {
    #audio {
        margin: 50px 5%;
        width: 90%;
    }

    body {
        --main-font-size: 16px;
    }
}
